.fav_page#verification
    section.main_banner 
        p 
            | Головний банер
            | Персональний бонус 'Бонус за верифікацію' 

    main.main_form
        a(
            id="login-button"
            href="https://www.favbet.ua/login"
            type="button"
        ) Авторизуватись
        form#verification_form.verification_form.hidden
            label(htmlFor="phone") Телефон:
            input(
                type="tel"
                id="phone"
                name="phone"
                placeholder="+380 XX XXX XX XX"
                autocomplete="tel"
                maxlength="16"
                required
            )
            button(
                type="submit"
                id="submit-button"
            ) Підтвердити

        form#confirmation_form.confirmation_form.hidden(data-confirmation-expired="false")
            label(htmlFor="confirmation-code") Код підтвердження:
            input(
                type="number"
                id="confirmation-code"
                name="confirmation-code"
                placeholder="Введіть код"
                pattern="[0-9]{5}"
                required
            )
            button(
                type="submit"
                id="confirm-button"
            ) Підтвердити код