include ../mixins.pug

//- Main template
.fav__page#verification
    //- Background elements
    .background
        .background__grid
        .background__ellipse

    //- Top banner
    +banner('top')

    //- Main Content
    main.main
        .main__contentWrapper
            //- Left Side Elements
            +sideContainer('left')

            //- Form Wrapper
            .form__outerWrapper
                .form__innerWrapper
                    .form__topBar
                        .form__topBar-logoWrapper
                            img(src="/img/logo_blue.svg" alt="logo").form__topBar-logoWrapper--logo
                            img(src="/img/logo_backdrop.svg" alt="backdrop").form__topBar-logoWrapper--backdrop
                        img(src="/img/esc_button.svg" alt="esc-button").form__topBar-btnImage
                    .form__container
                        //- Left Image
                        .form__picture-left
                        //- Form Content
                        .form__mainContent
                            h1.form__header
                                | ВЕРИФІКУЙСЯ
                                | ДО БОНУСІВ
                            p.form__description
                                | Отримай винагороду за кілька кроків.
                                | Верифікуйте номер та забирай
                                | персональний бонус.

                            .form__wrapper
                                a(
                                    id="login-button"
                                    href="https://www.favbet.ua/login"
                                    type="button"
                                    ) Авторизуватись

                                //- Verification form
                                form#verification__form.verification__form.hidden
                                    label(htmlFor="phone") Підтвердити свій номер телефону
                                    input(
                                        type="tel"
                                        id="phone"
                                        name="phone"
                                        placeholder="+380 (XX) XXX XX XX"
                                        autocomplete="tel"
                                        maxlength="12"
                                        required
                                    )
                                    button(
                                        type="submit"
                                        id="submit-button"
                                    ) ПІДТВЕРДИТИ

                                //- Confirmation form
                                    form#confirmation__form.confirmation__form.hidden(data-confirmation-expired="false")
                                        label(htmlFor="confirmation-code") Введи код підтвердження
                                        input(
                                            type="number"
                                            id="confirmation-code"
                                            name="confirmation-code"
                                            placeholder="_ _ _ _ _"
                                            pattern="[0-9]{5}"
                                            required
                                        )
                                        button(
                                            type="submit"
                                            id="confirm-button"
                                        ) ПІДТВЕРДИТИ
                        //- Right Image
                        .form__picture-right

                //- Rules
                .rules.drop
                    details.dropdown
                        summary(data-translate="terms") Детальніше..
                        .drop-txt
                            .drop-txt-list(data-translate="terms-drop-txt")

            //- Right Side Elements
            +sideContainer('right')

    //- Bottom Banner
    +banner('bottom')
