include ../mixins.pug

//- Main template
.fav__page#verification
    //- Background elements
    .background
        .background__grid
        .background__ellipse

    //- Top banner
    +banner('top')

    //- Main Content
    main.main
        .main__contentWrapper
            //- Left Side Elements
            +sideContent('left')

            //- Mobile Side Content Top
            +mobileSideContent('top')

            //- Form Wrapper
            .form__outerWrapper
                .form__innerWrapper
                    .form__topBar-wrapper
                        .form__topBar
                            .form__topBar-logoWrapper
                                img(src="https://fav-prom.com/html/verification/img/logo_blue.svg" alt="logo").form__topBar-logoWrapper--logo
                                img(src="https://fav-prom.com/html/verification/img/logo_backdrop.svg" alt="backdrop").form__topBar-logoWrapper--backdrop
                            img(src="https://fav-prom.com/html/verification/img/esc_button.svg" alt="esc-button").form__topBar-btnImage
                    .form__container
                        //- Left Image
                        .form__image-container--left
                            img(src="https://fav-prom.com/html/verification/img/pink_smile.svg" alt="smile").form__image
                        //- Form Content
                        .form__mainContent
                            h1.form__header(data-translate="formHeader")
                                | ВЕРИФІКУЙСЯ
                                | ДО БОНУСІВ
                            p.form__description(data-translate="formDescription")
                                | Отримай винагороду за кілька кроків.
                                | Верифікуй номер та забирай
                                | персональний бонус.

                            .form__wrapper
                                //- Verification form
                                form#verification__form.verification__form.hidden
                                    label(htmlFor="phone" data-translate="confirmPhone") Підтвердити свій номер телефону
                                    input(
                                        type="tel"
                                        id="phone"
                                        name="phone"
                                        placeholder="+380 (XX) XXX XX XX"
                                        autocomplete="tel"
                                        maxlength="13"
                                        pattern="^\\+380\\d{9}$"
                                        required
                                    )
                                    button(
                                        type="submit"
                                        id="submit-button"
                                        data-translate="confirm"
                                    ) ПІДТВЕРДИТИ

                                //- Confirmation form
                                form#confirmation__form.confirmation__form.hidden(data-confirmation-expired="false")
                                    label(htmlFor="confirmation-code" data-translate="provideCode") Введи код підтвердження
                                    input(
                                        type="text"
                                        id="confirmation-code"
                                        name="confirmation-code"
                                        placeholder="_ _ _ _ _"
                                        pattern="[0-9]{5}"
                                        maxlength="5"
                                        inputmode="numeric"
                                        required
                                    )
                                    button(
                                        type="submit"
                                        id="confirm-button"
                                        data-translate="confirm"
                                    ) ПІДТВЕРДИТИ

                            .successImageWrapper.hidden
                            .beforeImageWrapper.hidden
                            .link__button-wrapper
                                a(
                                    id="link-button"
                                    href="/login"
                                    type="button"
                                    class="link__button"
                                    data-translate="authorize"
                                ) АВТОРИЗУВАТИСЬ
                        //- Right Image
                        .form__image-container--right
                            img(src="https://fav-prom.com/html/verification/img/pink_spark.svg" alt="spark").form__image

                //- Rules
                .rules.drop
                    details.dropdown
                        summary(data-translate="terms") Детальніше..
                        .drop-txt
                            .drop-txt-list(data-translate="termsDropTxt")

            //- Mobile Side Content Bottom
            +mobileSideContent('bottom')
            //- Right Side Elements
            +sideContent('right')

    //- Bottom Banner
    +banner('bottom')

script.
    const linkWrapper = document.querySelector('.link__button-wrapper')
    const linkButton = linkWrapper.querySelector('a')
    linkButton.href = getRedirectUrl()
    linkButton.target = '_blank'
    [BLANK]
        linkButton.target = '_blank'