include ../mixins.pug

//- Main template
.fav__page#verification
    //- For testing
    .menu-test
        button.button-authorized Авторизований
        button.button-notAuthorized Неавторизований
        button.button-successBefore Авт. раніше
        button.button-success Авт. успішно
        button.button-loading Завантаження
        button.button-lang Мова
        button.button-theme Тема
    //- Background elements
    .background
        .background__ellipse

    //- Top banner
    +banner('top')

    //- Main Content
    main.main
        .main__contentWrapper
            //- Left Side Elements
            +sideContent('left')

            //- Mobile Side Content Top
            +mobileSideContent('top')

            //- Form Wrapper
            .form__outerWrapper
                .form__innerWrapper
                    .form__topBar-wrapper
                        .form__topBar
                            .form__topBar-logoWrapper
                                img(src="https://fav-prom.com/html/verification/img/logo_blue.svg" alt="logo").form__topBar-logoWrapper--logo
                                img(src="https://fav-prom.com/html/verification/img/logo_backdrop.svg" alt="backdrop").form__topBar-logoWrapper--backdrop
                            img(src="https://fav-prom.com/html/verification/img/esc_button.svg" alt="esc-button").form__topBar-btnImage
                    .form__container
                        //- Left Image
                        .form__image-container--left
                            img(src="https://fav-prom.com/html/verification/img/pink_smile.svg" alt="smile").form__image
                        //- Form Content
                        .form__mainContent
                            h1.form__header(data-translate="formHeader")
                                | ВЕРИФІКУЙСЯ
                                | ДО БОНУСІВ
                            p.form__description(data-translate="formDescription") Отримай винагороду за кілька кроків. Верифікуй номер та забирай персональний бонус.

                            .form__wrapper
                                //- Verification form
                                form#verification__form.verification__form.hidden
                                    label(
                                        htmlFor="phone"
                                        data-translate="confirmPhone"
                                        class="success-change"    
                                    ) Підтвердити свій номер телефону
                                    input(
                                        type="tel"
                                        id="phone"
                                        name="phone"
                                        placeholder="+380 (XX) XXX XX XX"
                                        autocomplete="tel"
                                        maxlength="13"
                                        pattern="[+0-9]+"
                                        required
                                    )
                                    button(
                                        type="submit"
                                        id="submit-button"
                                        data-translate="confirm"
                                    ) ПІДТВЕРДИТИ

                                //- Confirmation form
                                form#confirmation__form.confirmation__form.hidden(data-confirmation-expired="false")
                                    label(htmlFor="confirmation-code" data-translate="provideCode") Введи код підтвердження
                                    input(
                                        type="text"
                                        id="confirmation-code"
                                        name="confirmation-code"
                                        maxlength="5"
                                        pattern="[0-9]*"
                                        inputmode="numeric"
                                        autocomplete="off"
                                        placeholder="_ _ _ _ _"
                                        required
                                    )
                                    button(
                                        type="submit"
                                        id="confirm-button"
                                        data-translate="confirm"
                                    ) ПІДТВЕРДИТИ

                                //- Loading
                                +loading()
                            .link__button-wrapper.hidden
                                a(
                                    id="link-button"
                                    href="/login"
                                    type="button"
                                    class="link__button"
                                    data-translate="authorize"
                                ) АВТОРИЗУВАТИСЬ
                        //- Right Image
                        .form__image-container--right
                            img(src="https://fav-prom.com/html/verification/img/pink_spark.svg" alt="spark").form__image

                    .form__container-successBefore.hidden
                        h1.form__container-successBefore--header(data-translate="formHeaderBefore")
                            | Ти верифікував номер
                            | телефону раніше
                        p.form__container-successBefore--description(data-translate="formDescriptionBefore") Тепер ти не пропустиш головні події FAVBET

                        .link__button-wrapper
                            a(
                                id="link-button"
                                href="/sports"
                                type="button"
                                class="link__button"
                                data-translate="confirmBefore"
                            ) До гри

                    .form__container-success.hidden
                        //- Left Image
                        .form__container-success-image-container--left
                            img(src="https://fav-prom.com/html/verification/img/pink_smile.svg" alt="smile").form__image
                        .form__container-success-mainContent
                            h1.form__container-success--header(data-translate="formHeaderSuccess") Твій номер верифіковано
                            p.form__container-success--description(data-translate="formDescriptionSuccess") Ваш персональний бонус зараховано в розділ «Бонуси».
                            .successPrize
                                .successPrize__insurance
                                    .successPrize__insurance-text
                                        .successPrize__insurance-text--insurance(data-translate="prizeInfoInsurance") СТРАХОВКА ДО
                                        .successPrize__insurance-text--value(data-translate="prizeInfoValue") СТАВКИ 100 ₴
                                .successPrize__FS
                            .link__button-wrapper
                                a(
                                    id="link-button"
                                    href="/personal-office/bonuses/betinsurance"
                                    type="button"
                                    class="link__button"
                                    data-translate="confirmSuccess"
                                ) До Бонусу
                        //- Right Image
                        .form__container-success-image-container--right
                            img(src="https://fav-prom.com/html/verification/img/pink_spark.svg" alt="spark").form__image
                //-Rule
                p.rule(data-translate="loyalty")
                    | Персональна бонусна пропозиція доступна в межах Програми лояльності.
                    br
                    | Розмір, вид та формат бонусної пропозиції визначається та пропонується гравцям виключно на розсуд Організатора. З детальними умовами персональної бонусної пропозиції можна ознайомитись в особистому кабінеті у розділі "Бонуси".

                //- Rules
                .rules.drop
                    details.dropdown
                        summary(data-translate="terms") Детальніше..
                        .drop-txt
                            .drop-txt-list(data-translate="termsDropTxt")

            //- Mobile Side Content Bottom
            +mobileSideContent('bottom')
            //- Right Side Elements
            +sideContent('right')

    //- Bottom Banner
    +banner('bottom')
