.fav_page#verification
    section.main_banner 
        p 
            | Головний банер
            | Персональний бонус 'Бонус за верифікацію' 

    main.main_form
        a(
            id="login-button"
            href="https://www.favbet.ua/login"
            type="button"
        ) Авторизуватись
        form#verification_form.verification_form.hidden
            label(htmlFor="phone") Телефон:
            input(
                type="tel"
                id="phone"
                name="phone"
                placeholder="+380 XX XXX XX XX"
                autocomplete="tel"
                maxlength="16"
                required
            )
            button.hidden(
                type="submit"
                id="submit-button"
            ) Підтвердити
